'.source.js':
    'react component':
        'prefix': 'rcd',
        'body': '''
                import React , { Component } from "react"
                class ${1} extends Component {
                    constructor (props) {
                        super(props)
                        const self = this
                    }
                    render() {
                        const self = this
                        return (
                            <div>node</div>
                        )
                    }
                }
                ${1} = require('react-hot-loader').hot(module)(${1})
                export default ${1}
                '''
    'react render dom':
        'prefix': 'rrd'
        'body': '''
                import ReactDOM from "react-dom"
                import ${1} from "./app.js"
                ReactDOM.render(
                    <${1} />,
                    document.getElementById('app')
                )
                '''
