'.source.js':
    'react component (entry)':
        'prefix': 'rcde',
        'body': '''
                import React , { Component } from "react"
                class ${1} extends Component {
                    constructor (props) {
                        super(props)
                        const self = this
                        self.state = {

                        }
                    }
                    render() {
                        const self = this
                        return (
                            <div>node</div>
                        )
                    }
                }
                /*ONFACE-DEL*/${1} = require('react-hot-loader').hot(module)(${1})
                export default ${1}
                '''
    'react component':
        'prefix': 'rcd',
        'body': '''
                import React , { Component } from "react"
                class ${1} extends Component {
                    constructor (props) {
                        super(props)
                        const self = this
                        self.state = {

                        }
                    }
                    render() {
                        const self = this
                        return (
                            <div>node</div>
                        )
                    }
                }
                export default ${1}
                '''
    'react render dom':
        'prefix': 'rrd'
        'body': '''
                import ReactDOM from "react-dom"
                import ${1} from "./app.js"
                ReactDOM.render(
                    <${1} />,
                    document.getElementById('app')
                )
                '''
    'react component example':
        'prefix': 'rce'
        'body': '''
                import React , { Component } from "react"
                import ${1} from "./app"
                class Example extends Component {
                    constructor (props) {
                        super(props)
                        const self = this
                        self.state = {

                        }
                    }
                    render() {
                        const self = this
                        return (
                            <${1} />
                        )
                    }
                }
                Example = require('react-hot-loader').hot(module)(Example)

                import ReactDOM from "react-dom"
                ReactDOM.render(
                    <Example />,
                    document.getElementById('app')
                )
                '''
